.portafolio{
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
}

.portafolio-presentation{
    width: 35%;
    border: 2px solid pink;
}

.portafolio-content{
    width: 65%;
    border: 2px solid yellow;
}
