*{
    font-family: 'Righteous', cursive;
}

.presentation-container {
    width: 100%;
    height: 100vh;
    margin: 0%;
    padding: 0%;
}

.card-rotate {
    border: 2px solid green;
    background-color: transparent;
    width: 35%;
    height: 95vh;
    perspective: 1000px;
    margin: 0%;
    padding: 0%;
}

.card-rotate-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 2px solid pink;
}

.content {
    border: 2px solid orange;
    width: 90%;
    height: 30vh;
    margin: auto;
    margin-top: 5vh;
    border-radius: 15px;
}

.presentation {
    width: 100%;
    height: 30vh;
    background: linear-gradient(-20deg, #005a86, #3b96ff);
    filter: drop-shadow(2px 2px 5px rgb(134, 134, 134));
    backface-visibility: hidden;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border: 2px solid pink;
}

.presentation-img {
    width: 35%;
    height: 30vh;
}

.presentation-img img {
    width: 90%;
    height: 25vh;
    margin: 2.5vh 5% 2.5vh 5%;
    font-size: 25px;
    border: 2px solid #757575;
    border-radius: 5%;
}

.presentation-div-rigth {
    width: 65%;
    height: 30vh;
    display: flex;
    flex-direction: column;
}

.presentation-text {
    width: 98%;
    height: 15vh;
    margin: 2.5% 1% 2.5% 1%;
}

.presentation-text p{
    font-size: 2.2vw;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: auto;
}

.presentation-button {
    width: 60%;
    height: 10vh;
    margin: auto;
}

.presentation-button button{
    width: 100%;
    height: 10vh;
    font-size: 1.2vw;
}

.detail{
    width: 100%;
    height: 30vh;
    background: linear-gradient(-20deg,#3b96ff, #005a86);
    filter: drop-shadow(2px 2px 5px rgb(134, 134, 134));
    backface-visibility: hidden;
    border-radius: 15px;
    cursor: pointer;
}

.detail-info{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
}

.detail-text{
    width: 98%;
    height: 15vh;
    margin: 5% 1% 0% 1%;
}

.detail-text h1{
    font-size: 2.2vw;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    margin: auto; 
}

.detail-text p{
    font-size: 1.8vw;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: auto;
}

.detail-button {
    width: 40%;
    margin: auto;
}

.detail-button button{
    width: 100%;
    height: 6vh;
}

.transition{
    transform: rotateY(180deg);
    transition: 5ms;
}


/* .content_front {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-20deg, #00699e, #7ab7fc);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

/* .card_rotation .content_behind {
    transform: rotateY(180deg);
    border: 2px solid pink;
}



.content_front {
    background: linear-gradient(-20deg, #00699e, #7ab7fc);
}

.content_behind {
    border: 2px solid blue;
    background: linear-gradient(-20deg, #00699e, #7ab7fc);
    color: white;
    transform: rotateY(180deg);
}

.content_front h1,
.content_behind p {
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content_behind h1 {
    font-size: 1.7rem;
}*/